<a href="https://colab.research.google.com/github/2303A51069/B16_1069_PDS/blob/main/PSD_lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd

In [16]:

students = pd.DataFrame({
    "id": [1, 2, 3, 4],
    "name": ["Alice", "Bob", "Charlie", "David"],
    "class": ["A", "B", "A", "B"]
})

In [17]:
scores = pd.DataFrame({
    "id": [1, 2, 3, 5],
    "score": [85, 90, 78, 92]
})

In [18]:
inner = pd.merge(students, scores, on="id", how="inner")
left = pd.merge(students, scores, on="id", how="left")
right = pd.merge(students, scores, on="id", how="right")
print(inner["score"].agg(["mean", "max", "min", "count"]))
print(inner.groupby("class")["score"].agg(["mean", "max", "min", "count"]))

mean     84.333333
max      90.000000
min      78.000000
count     3.000000
Name: score, dtype: float64
       mean  max  min  count
class
A      81.5   85   78      2
B      90.0   90   90      1

2) Merge Two Real World Data sets and compute Aggregate Statistics Using pandas

In [19]:
import pandas as pd

In [20]:
customers = pd.DataFrame({
    "customer_id": [1, 2, 3, 4],
    "name": ["Alice", "Bob", "Charlie", "David"],
    "region": ["North", "South", "North", "East"]
})

sales = pd.DataFrame({
    "sale_id": [101, 102, 103, 104, 105],
    "customer_id": [1, 2, 1, 3, 5],
    "amount": [250, 300, 150, 400, 500]
})

In [21]:
inner = pd.merge(customers, sales, on="customer_id", how="inner")
left = pd.merge(customers, sales, on="customer_id", how="left")

print("Sales Stats Overall:\n", inner["amount"].agg(["sum", "mean", "count"]))
print("\nSales Stats by Customer:\n", inner.groupby("name")["amount"].sum())
print("\nSales Stats by Region:\n", inner.groupby("region")["amount"].agg(["sum", "mean", "count"]))

Sales Stats Overall:
 sum      1100.0
mean      275.0
count       4.0
Name: amount, dtype: float64

Sales Stats by Customer:
 name
Alice      400
Bob        300
Charlie    400
Name: amount, dtype: int64

Sales Stats by Region:
         sum        mean  count
region
North   800  266.666667      3
South   300  300.000000      1